{% extends 'base_auth.html' %} {% load static %} {% block page_css %}
<link rel="stylesheet" href="{% static 'CSS/register.css' %}" />
{% endblock page_css %} {% block content %}

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Register For a Free Account Today</h3>
                    <p>Fill in the data below.</p>
                    <form>
                        <div class="col-md-12">
                            <input
                                class="form-control"
                                type="text"
                                name="username"
                                placeholder="Username"
                                id="usernameField"
                                required
                            />
                        </div>
                        <div class="col-md-12">
                            <input
                                class="form-control"
                                type="email"
                                name="email"
                                placeholder="E-mail Address"
                                id="emailField"
                                required
                            />
                        </div>
                        <div class="col-md-12">
                            <input
                                class="form-control"
                                type="password"
                                name="password"
                                placeholder="Password"
                                id="passwordField"
                                required
                            />
                        </div>
                        <div class="form-button mt-5">
                            <button id="submit" type="submit" class="btn btn-primary btn-lg">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
