{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            content="An expense tracker to track and monitor your expenses both personal and in the work place"
        />
        <meta name="master-daniels" content="from a youtube tutorial" />
        <title>ExTracker {% block title %}{% endblock title %}</title>
        <link href={% static 'css/bootstrap.css' %} rel="stylesheet" /> <link rel="stylesheet" href={% static
        'css/styles.css' %}>

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href={% static 'css/dashboard.css' %}>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <main role="main" class="col-md-12">
                    <div class="card"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-6">{% block content %} {% endblock content %}</div>
                    <div class="col-md-3"></div>
                </main>
            </div>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
            integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
            integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"
            integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG"
            crossorigin="anonymous"
        ></script>

        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
